[Unit]
Description=redis breached passwords daemon
After=network.target

[Service]
PIDFile=/run/redis_breached_passwords/pid
User=redis
Group=redis
RuntimeDirectory=redis_breached_passwords
ExecStart=/usr/local/bin/redis-server /etc/redis_breached_passwords.conf
Restart=always

[Install]
WantedBy=multi-user.target
