.vagrant
Customfile

__pycache__
*.py[co]

*.egg-info/

.cache/
.mypy_cache/
.webassets-cache/
.webassets-manifest

*.gz
*.log

# don't track the built versions of CSS and JS
tildes/static/css/*
tildes/static/js/third_party.js
tildes/static/js/tildes.js

# don't track site icon files
tildes/static/images/site-icons/*.png

# NodeJS dependencies
tildes/node_modules/
