// Contains the default Tildes theme
$default-theme: (
  "alert": #e66b00,
  "background-primary": #fff,
  "background-secondary": #eee,
  "border": #ccc,
  "button": #1460aa,
  "comment-label-exemplary": #1460aa,
  "comment-label-joke": #4b6319,
  "comment-label-noise": #856514,
  "comment-label-offtopic": #1e824c,
  "comment-label-malice": #d91e18,
  "error": #d91e18,
  "foreground-highlight": #222,
  "foreground-primary": #333,
  "foreground-secondary": #888,
  "link": #0030e0,
  "link-visited": #551a8b,
  "stripe-target": #ffd700,
  "syntax-builtin": #268bd2,  // Solarized
  "syntax-comment": #129b12,
  "syntax-constant": #dc322f,  // Solarized
  "syntax-keyword": #3329c2,
  "syntax-literal": #2aa198,  // Solarized
  "syntax-string": #2aa198,  // Solarized
  "topic-tag-spoiler": #e66b00,
  "warning": #e66b00,
);

// define the default theme using the base values
body {
  @include use-theme($default-theme);
}
