$sidebar-width: 300px;

// Viewport width that the sidebar is shown by default
$show-sidebar-width: 840px;

// Minimum size of buttons on small screens
$min-touch-size: 26px;

// Maximum width of the <main> element
$main-max-width: 1400px;

// Maximum width to allow on "paragraph-like" text
$paragraph-max-width: 40rem;

// The approximate size where the site's width "maxes out" (larger just adds margins)
$size-max: $main-max-width + $sidebar-width;
