{% from 'common.jinja2' import app_dir, bin_dir -%}
#!/bin/bash
#
# Simple convenience script to activate the venv and switch to the app dir
# (Needs to be run by sourcing or it won't do anything)
cd {{ app_dir }}
source {{ bin_dir }}/activate
