{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% macro link_to_user(user) -%}
  {% if user.is_real_user %}
    <a href="/user/{{ user.username }}" class="link-user">{{ user.username }}</a>
  {% else %}
    {{ user.username }}
  {% endif %}
{%- endmacro %}

{% macro link_to_group(group) -%}
  <a href="/~{{ group.path }}" class="link-group">~{{ group.path }}</a>
{%- endmacro %}
