{# Copyright (c) 2019 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% macro pluralize(counter, singular_form, plural_form=None) %}
  {% if not plural_form %}
    {% set plural_form = singular_form~"s" %}
  {% endif %}

  {%- trans counter=counter -%}
    {{ counter }} {{ singular_form }}
  {%- pluralize -%}
    {{ counter }} {{ plural_form }}
  {%- endtrans %}
{% endmacro %}

