{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

<div class="code-gen-btn">
  {% if num_remaining > 0 %}
    <button
      class="btn btn-primary"
      data-ic-get-from="{{ request.route_url(
        'ic_user_invite_code',
        username=request.user.username,
      ) }}"
      data-ic-replace-target="true"
      data-ic-target=".code-gen-btn"
    >Generate new code ({{ num_remaining }} left)</button>
  {% else %}
    <p>You don't currently have any invite codes available.</p>
  {% endif %}
  <p>You have the following invite codes active that have not been used yet:</p>
</div>

<input class="form-input input-lg input-invite-code" type="text" value="{{ code }}" readonly data-js-autoselect-input>
