{# Copyright (c) 2019 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% from 'macros/buttons.jinja2' import post_action_toggle_button with context %}

{{ post_action_toggle_button(
     subject=subject,
     is_toggled=is_toggled,
     normal_name=normal_name,
     normal_label=normal_label,
     toggled_name=toggled_name,
     toggled_label=toggled_label,
     route_name=route_name,
) }}
