<p>Two-factor authentication has been disabled. You will no longer need a code when logging in.</p>

<p>Keep in mind: if you ever reenable two-factor authentication, your previous backup codes will not be valid.</p>