[Unit]
Description=gunicorn socket
PartOf=gunicorn.service

[Socket]
ListenStream=/run/gunicorn/socket
SocketUser=gunicorn
SocketGroup=gunicorn

[Install]
WantedBy=sockets.target
