[Unit]
Description=gunicorn reloader
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/systemctl reload gunicorn.service

[Install]
WantedBy=multi-user.target
