{% from 'common.jinja2' import app_username -%}
[Unit]
Description=gunicorn socket
PartOf=gunicorn.service

[Socket]
ListenStream=/run/gunicorn/socket
SocketUser={{ app_username }}
SocketGroup={{ app_username }}

[Install]
WantedBy=sockets.target
