[Unit]
Description=Prometheus Redis Exporter
After=syslog.target network.target

[Service]
Type=simple
RemainAfterExit=no
WorkingDirectory=/opt/prometheus_redis_exporter
User=prometheus
Group=prometheus
Environment="REDIS_ADDR=unix:///run/redis/socket,unix:///run/redis_breached_passwords/socket"
ExecStart=/opt/prometheus_redis_exporter/redis_exporter

[Install]
WantedBy=multi-user.target
