ago==0.0.93
alembic==1.6.5
appdirs==1.4.4
argon2-cffi==20.1.0
astroid==2.6.5
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
black==21.7b0
bleach==3.3.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==8.0.1
cornice==5.2.0
decorator==5.0.9
dodgy==0.2.1
flake8==3.9.2
flake8-polyfill==1.0.2
freezegun==1.1.0
gunicorn==20.1.0
html5lib==1.1
html5validator==0.4.0
hupper==1.10.3
idna==3.2
iniconfig==1.1.1
invoke==1.6.0
ipython==7.25.0
ipython-genutils==0.2.0
isort==5.9.2
jedi==0.18.0
jinja2==3.0.1
lazy-object-proxy==1.6.0
lupa==1.9
mako==1.1.4
markupsafe==2.0.1
marshmallow==3.13.0
matplotlib-inline==0.1.2
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
packaging==21.0
parso==0.8.2
pastedeploy==2.1.1
pathspec==0.9.0
pep517==0.11.0
pep8-naming==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.3.1
pip-tools==6.2.0
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
prometheus-client==0.11.0
prompt-toolkit==3.0.19
git+https://github.com/Deimos/prospector.git#egg=prospector
psycopg2==2.9.1
ptyprocess==0.7.0
publicsuffix2==2.20160818
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pydocstyle==6.1.1
pyflakes==2.3.1
pygit2==1.6.1
pygments==2.9.0
pylint==2.9.5
pylint-plugin-utils==0.6
pyotp==2.6.0
pyparsing==2.4.7
pyramid==1.10.8
pyramid-debugtoolbar==4.9
pyramid-ipython==0.2
pyramid-jinja2==2.8
pyramid-mako==1.1.0
pyramid-session-redis==1.5.0
pyramid-tm==2.4
pyramid-webassets==0.10
pytest==6.2.4
pytest-mock==3.6.1
python-dateutil==2.8.2
python-editor==1.0.4
pyyaml==5.4.1
qrcode==7.2
redis==3.5.3
regex==2021.7.6
repoze.lru==0.7
requests==2.26.0
requirements-detector==0.7
sentry-sdk==1.3.0
setoptconf==0.2.0
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
sqlalchemy==1.3.24
sqlalchemy-utils==0.37.8
stripe==2.60.0
testing.common.database==2.0.3
testing.redis==1.1.1
titlecase==2.3
toml==0.10.2
tomli==1.0.4
traitlets==5.0.5
transaction==3.0.1
translationstring==1.4
types-bleach==3.3.3
types-python-dateutil==0.1.4
types-redis==3.5.4
types-requests==2.25.0
typing-extensions==3.10.0.0
urllib3==1.26.6
venusian==3.0.0
waitress==2.0.0
wcwidth==0.2.5
webargs==8.0.0
webassets==2.0
webencodings==0.5.1
webob==1.8.7
webtest==2.0.35
wheel==0.36.2
wrapt==1.12.1
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.5

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
