ago==0.0.93
alembic==1.4.3
argon2-cffi==20.1.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
cached-property==1.5.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cornice==5.0.3
decorator==4.4.2
gunicorn==20.0.4
html5lib==1.1
hupper==1.10.2
idna==2.10
invoke==1.4.1
ipython-genutils==0.2.0
ipython==7.19.0
jedi==0.17.2
jinja2==2.11.2
lupa==1.9
mako==1.1.3
markupsafe==1.1.1
marshmallow==3.9.0
packaging==20.4
parso==0.7.1
pastedeploy==2.1.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.0.1
pip-tools==5.3.1
plaster-pastedeploy==0.7
plaster==1.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
psycopg2==2.8.6
ptyprocess==0.6.0
publicsuffix2==2.20160818
pycparser==2.20
pygit2==1.3.0
pygments==2.7.2
pyotp==2.4.1
pyparsing==2.4.7
pyramid-ipython==0.2
pyramid-jinja2==2.8
pyramid-session-redis==1.5.0
pyramid-tm==2.4
pyramid-webassets==0.10
pyramid==1.10.4
python-dateutil==2.8.1
python-editor==1.0.4
pyyaml==5.3.1
qrcode==6.1
redis==3.5.3
regex==2020.10.28
requests==2.24.0
sentry-sdk==0.19.1
six==1.15.0
soupsieve==2.0.1
sqlalchemy-utils==0.36.8
sqlalchemy==1.3.20
stripe==2.55.0
titlecase==1.1.1
traitlets==5.0.5
transaction==3.0.0
translationstring==1.4
urllib3==1.25.11
venusian==3.0.0
wcwidth==0.2.5
webargs==6.1.1
webassets==2.0
webencodings==0.5.1
webob==1.8.6
wrapt==1.12.1
zope.deprecation==4.4.0
zope.interface==5.1.2
zope.sqlalchemy==1.3

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
