ago
alembic
amqpy
argon2_cffi
astroid==1.5.3  # pylama has issues with pylint 1.8.1
bleach
boussole
click==5.1  # boussole needs < 6.0
cornice
freezegun
gunicorn
html5lib
ipython
mypy
mypy-extensions
prometheus-client
psycopg2
publicsuffix2
pydocstyle
pylama
pylama-pylint
pylint==1.7.5  # pylama has issues with 1.8.1
pyramid
pyramid-debugtoolbar
pyramid-ipython
pyramid-jinja2
pyramid-session-redis
pyramid-tm
pyramid-webassets
pytest
pytest-mock
SQLAlchemy
SQLAlchemy-Utils
stripe
testing.redis
webargs
webtest
zope.sqlalchemy
